<div class="mx-auto max-w-5xl h-screen flex flex-col justify-center">
    <div class="bg-mediumorange p-8 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border-none"> 
        <div class="flex justify-center">
            <%= link_to root_path do %>
                <%= image_tag 'logo.png', class: "h-20 w-20", alt: "Logo" %>
            <% end %>
        </div>

        <div class='p-3 font-extrabold text-lg text-stronggreen text-center' id='talent-title'>
            <h2>Discover Your Culinary Journey</h2>
        </div>

        <div class='p-3 font-extrabold text-lg text-stronggreen text-center hidden' id='client-title'>
            <h2>Discover Talent for Your Business</h2>
        </div>

        <div class="w-full border-b text-gray-500 text-sm font-medium border-gray-300 mb-4">
            <button class="tab-link tab-link-active me-2 " id="talent" onclick="handleTalentButtonOnClick()">Apply as Talent</button>
            <button class="tab-link tab-link-inactive me-2" id="client" onclick="handleClientButtonOnClick()">Apply as Client</button>
        </div>

        <div class="max-h-80 overflow-auto hide-scrollbar" id="talent-registration">
            <%= render 'shared/talent_registration' %>
        </div>

        <div class="max-h-80 overflow-auto hide-scrollbar hidden" id="client-registration">
            <%= render 'shared/client_registration' %>
        </div>
    </div>
</div>

<script>
    var clientButton = document.getElementById('client');
    var talentButton = document.getElementById('talent');
    var talentRegistration = document.getElementById('talent-registration');
    var talentTitle = document.getElementById('talent-title');
    var clientRegistration = document.getElementById('client-registration');
    var clientTitle = document.getElementById('client-title');

    var handleClientButtonOnClick = () => {
        talentRegistration.style.display = 'none';
        talentTitle.style.display = 'none';
        clientTitle.style.display = 'block';
        clientRegistration.style.display = 'block';
        clientButton.classList.add('tab-link-active');
        clientButton.classList.remove('tab-link-inactive');
        talentButton.classList.remove('tab-link-active');
        talentButton.classList.add('tab-link-inactive');
    }

    var handleTalentButtonOnClick = () => {
        talentRegistration.style.display = 'block';
        talentTitle.style.display = 'block';
        clientTitle.style.display = 'none';
        clientRegistration.style.display = 'none';
        talentButton.classList.add('tab-link-active');
        talentButton.classList.remove('tab-link-inactive');
        clientButton.classList.remove('tab-link-active');
        clientButton.classList.add('tab-link-inactive');
    }
</script>

