<div class="mx-auto max-w-5xl h-screen flex flex-col justify-center">
  <div class="bg-mediumorange p-8 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border-none"> 
      <div class="flex justify-center">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: "h-20 w-20", alt: "Logo" %>
        <% end %>
      </div>

    <div class='signup-body-form-container'>
      <%= render 'shared/admin_registration', admin: @admin %>
    </div>
  </div>
</div>