<div class = 'w-full h-screen'>
    <div class = 'w-full h-full pt-16'>
        <div class = 'w-1/5 h-full bg-white'>
            <%= render 'shared/inbox', locals: { inbox: @inbox } %>
        </div>
    </div>
</div>