<%= stylesheet_link_tag "home" %>
<%= render 'shared/home_navbar' %>

<div class = 'home-main-container'>
    <div class = 'home-body-container'>
        <h1>Home#index</h1>
        <p>Gawin na lang tong landing page. Kahit wag na muna isipin (more on styling lang to.)</p>


        <%= link_to "Sign up", new_user_registration_path %>

        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    </div>
</div>
