<div class="w-full h-screen px-8 pt-14">
    <div class="w-full flex justify-between items-center mt-8">
        <h3 class="text-3xl font-bold text-black">Applied Jobs</h3>
        <%= link_to 'Explore More', browse_job_listings_path, class: 'text-white bg-darkorange hover:bg-mediumorange focus:ring-1 focus:outline-none focus:ring-mediumorange font-medium rounded-xl text-sm px-4 py-3 text-center' %>
    </div>

    <%= render 'applied_jobs_table' %>
</div>
