.signup-main-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.signup-body-container {
    width: 100%;
    padding-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-body-content {
    width: 30%;
    height: 90%;
    padding: 10px;
    /* background-color: red; */
}

.signup-form-options {
    padding: 10px 0;
}

.sign-up-options-button {
    border: none;
    background: none;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
}

.orange {
    color: #FF8000;
}


.signup-body-title {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.signup-body-divider {
    height: 1px;
    width: 100%;
    background-color: #865C43;
}
.signup-body-form-container {
    padding: 20px;
}

/* .signup-body-form {
    
} */

.signup-form-col {
    display: flex;
    gap: 10px;
    width: 100%;
}

.signup-form-talent { 
    gap: 10px;
    
}

.signup-form-two {
    width: 100%;
    padding: 5px;
}

.signup-body-form-label {
    font-size: 16px;
    font-weight: 500;
}

.signup-body-form-field {
    height: 35px;
    width: 100%;
    font-size: 16px;
    padding: 0 5px;
}

.signup-label-flex {
    display: flex;
    align-items: center;
    gap: 3px;
}

.signup-password-minimum {
    font-size: 12px;
}

.signup-form-button {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.sign-body-form-submit {
    width: 50%;
    height: 35px;
    font-size: 16px;
}

.signup-redirect-buttons-container {
    width: 100%;
}

.signup-redirect-content {
    display: flex;   
    justify-content: center;
    padding: 20px;
}

.signup-redirect-buttons {
    width: 50%;
    background-color: #865C43;
}

.signup-redirect-login {
    width: 100%;
    height: 35px;
    font-size: 16px;
}

.edit-form-container {
    margin-left: 300px;
    padding: 20px;
}


