<div class="w-full mb-4 text-xs font-medium text-center text-gray-500 border-b border-gray-300">
    <ul class="flex flex-wrap -mb-px">
        <li class="me-2">
            <%= link_to 'Owners', admin_users_path, class: "tab-link #{active_class(admin_users_path)}", 'aria-current': aria_current(admin_users_path) %>
        </li>
        
        <li class="me-2">
            <%= link_to 'Talents', admin_talents_path, class: "tab-link #{active_class(admin_talents_path)}", 'aria-current': aria_current(admin_talents_path) %>
        </li>

        <li class="me-2">
            <%= link_to 'Pending', admin_users_pending_path, class: "tab-link #{active_class(admin_users_pending_path)}", 'aria-current': aria_current(admin_users_pending_path) %>
        </li>
    </ul>
</div>