<div class="h-screen px-8 pt-14" style="width: calc(100% - 16rem);">
    <div class="mt-8">
        <h3 class="text-3xl font-bold text-black">Pending</h3>
    </div>
    
    <%= render 'users_table' %>
</div>